@model IEnumerable<DatabasesProject1.ViewModels.MaterialViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialName)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.MaterialId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MaterialId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MaterialId">Delete</a>
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
